@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
:root{
    --purple-color : #5770A6;
    --blue-color : #6DB7EF;
    --orange-color : #E06555;
    --main-font: "Roboto";
}
.container{
    width: 60%;
    height: 80vh;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    margin: 20px auto;
    padding: 30px 20px;
}
.container .form-container{
width: 100%;
height: 70%;
/* background-color: red; */
margin-top: 20px;
padding-top: 10px;
display: flex;
justify-content: space-between;
padding: 10px;

}
h2{
    text-align: center;
}
.form-container .social,.form-login{
    width: 48%;
    height: 95%;
    /* background-color: green; */
}
.form-container .social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}
.form-container .option{
    width: 0.5%;
    height: 95%;
    background-color: blue;
    border-radius: 3px;
}
.social .social-btn{
    width: 100%;
    height: 30%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 10px;
    font-size: 30px;
    color: white;
}
.social .a{
    background-color: var(--purple-color);
}
.social .b{
    background-color: var(--blue-color);
}
.social .c{
    background-color: var(--orange-color);
}
.name{
    background-color: red;
}
